{% extends 'layout/app.html' %} {% load static %}
{% block stylesheet %}
    <link href="{% static 'assets/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/node_modules/datatables.net-bs4/css/responsive.dataTables.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block body %}
<div class="page-wrapper">
    <div class="container-fluid" style="padding: 0 70px;">
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active">Manage Assessment Location</li>
                </ol>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <div id="modal_addlocation" class="modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Add Assessment Location</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                </div>
                                <div class="modal-body">
                                    <form id="form_addlocation" class="form-horizontal p-t-20">
                                        <div class="alert alert-danger" id="add_errormsg_exist" style="text-align: left;"></div>
                                        {% csrf_token %}
                                        <div class="form-group row">
                                            <div class="col-12">
                                                <label style="float:left;" class="p-b-5">Assessment Name</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id="add_name" name="add_name" placeholder="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-12">
                                                <label style="float:left;" class="p-b-5">Location</label>
                                                <textarea id="add_location" name="add_location" class="form-control" rows="5"></textarea>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancel</button>
                                            <button type="submit" class="btn btn-primary waves-effect waves-light">Save</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" data-toggle="modal" data-target="#modal_addlocation" class="btn btn-primary d-none d-lg-block m-l-15"><i
                            class="fa fa-plus-circle"></i> Add Assessment Location</button>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body" style="padding: 1.25rem 0;">
                        <div class="table-responsive">
                            <table id="myTable" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Location</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Name</th>
                                        <th>Location</th>
                                        <th>Action</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    {% for row in AssessLocation %}
                                    <tr id="{{row.id}}">
                                        <td class="td_name">{{row.clinic}}</td>
                                        <td class="td_location">{{row.location}}</td>
                                        <td>
                                            <div class="btn-group btn-group-xs" role="group">
                                                <button type="button" onclick="initial_editform(this)" data-toggle="modal" data-target="#modal_editlocation" class="btn btn-secondary"><span class="fas fa-pencil-alt" aria-hidden="true"></span></button> 
                                                <button type="button" class="btn btn-secondary footable-delete btn_deletelocation"><span class="fas fa-trash-alt" aria-hidden="true"></span></button>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <div id="modal_editlocation" class="modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Edit Assessment Location</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        </div>
                                        <div class="modal-body">
                                            <form id="form_editlocation" class="form-horizontal p-t-20">
                                                <div class="alert alert-danger" id="edit_errormsg_exist" style="text-align: left;"></div>
                                                {% csrf_token %}
                                                <div class="form-group row">
                                                    <div class="col-12">
                                                        <label style="float:left;" class="p-b-5">Assessment Name</label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" id="edit_name" name="edit_name" placeholder="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-12">
                                                        <label style="float:left;" class="p-b-5">Location</label>
                                                        <textarea class="form-control" id="edit_location" name="edit_location" rows="5"></textarea>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancel</button>
                                                    <button type="submit" class="btn btn-primary waves-effect waves-light">Save</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'assets/node_modules/datatables.net/js/jquery.dataTables.min.js' %}"></script>

    <script type="text/javascript">

        function initial_editform(elm){
            trow = $(elm).parent().parent().parent();
            $("#form_editlocation").val(trow.attr("id"));
            $("#edit_name").val(trow.children(".td_name").text());
            $("#edit_location").val(trow.children(".td_location").text());
        }

        $(document).ready(function() {
            $('#myTable').DataTable();
            

            $("#add_errormsg_exist").css("display","none");
            $("#edit_errormsg_exist").css("display","none");

            $('#form_addlocation').validate({
                rules: {
                    add_name: {
                        required: true
                    },
                    add_location: {
                        required: true
                    }
                },
                errorPlacement: function(){
                    return false;
                }                
            });

            $('#form_editlocation').validate({
                rules: {
                    edit_name: {
                        required: true
                    },
                    edit_location: {
                        required: true
                    }
                },
                errorPlacement: function(){
                    return false;
                }                
            });

            $("#form_addlocation").submit(function(e){
                e.preventDefault();
                
                var formData = new FormData();
                formData.append("add_name", $("#add_name").val());
                formData.append("add_location", $("#add_location").val());
                
                if($(this).valid()){
                    $("#add_errormsg_exist").html("");
                    $("#add_errormsg_exist").css("display", "none");
                    
                    $.ajax({
                        type: "POST",
                        url: "/ajax/add_location/",
                        data: formData,
                        headers: { "X-CSRFToken": "{{ csrf_token }}" },
                        processData: false,
                        cache: false,
                        contentType: false,
                        success: function (data)
                        {
                            if(data.result=="exist"){
                                $("#add_errormsg_exist").html('<i class="ti-user"></i>&nbsp;&nbsp;&nbsp;This Assessment Name already exists.');
                                $("#add_errormsg_exist").css("display", "block");
                            }else if(data.result=="success"){
                                $("#modal_addlocation").modal("toggle");
                                location.reload(true);
                            }
                        }
                    });
                }
            });

            $("#form_editlocation").submit(function(e){
                e.preventDefault();
                
                var formData = new FormData();
                formData.append("edit_id", $(this).val());
                formData.append("edit_name", $("#edit_name").val());
                formData.append("edit_location", $("#edit_location").val());
                
                if($(this).valid()){
                    $("#edit_errormsg_exist").html("");
                    $("#edit_errormsg_exist").css("display", "none");
                    
                    $.ajax({
                        type: "POST",
                        url: "/ajax/edit_location/",
                        data: formData,
                        headers: { "X-CSRFToken": "{{ csrf_token }}" },
                        processData: false,
                        cache: false,
                        contentType: false,
                        success: function (data)
                        {
                            if(data.result=="exist"){
                                $("#edit_errormsg_exist").html('<i class="ti-user"></i>&nbsp;&nbsp;&nbsp;This Assessment Name already exists.');
                                $("#edit_errormsg_exist").css("display", "block");
                            }else if(data.result=="success"){
                                $("#modal_editlocation").modal("toggle");
                                location.reload(true);
                            }
                        }
                    });
                }
            });

            $(".btn_deletelocation").on('click', function(){
                $.ajax({
                    type: "POST",
                    url: "/ajax/delete_location/",
                    data: {
                        'id' : $(this).parent().parent().parent().attr("id"),
                    },
                    headers: { "X-CSRFToken": "{{ csrf_token }}" },
                    dataType: 'json',
                    success: function (data)
                    {
                        location.reload(true);
                    }
                });
            });

        });

    </script>
{% endblock %}