{% extends 'layout/login.html' %} {% load static %}
{% block styleblock %}
    <style>
        .form-material .form-control{
            padding: 0 10px;
        }

        .card-body{
            padding: 5rem 3rem;
        }

        .btn-group-lg>.btn-rounded.btn, .btn-rounded.btn-lg{
            padding: 0.3rem;
        }
    </style>
{% endblock %}
{% block body %}
    <section id="wrapper" class="login-register login-sidebar" style="background-image:url(/static/assets/images/background/login-register.jpg);">
        <div class="login-box card" style="left:0px; right:inherit;">
            <div class="card-body">
                <form class="form-horizontal form-material text-center" id="form_login">
                    <a href="javascript:void(0)" class="db"><img src="/static/assets/images/logo-icon.png" alt="Home" /><br/><img src="/static/assets/images/logo-text.png" alt="Home" /></a>
                    <div class="alert alert-danger" id="errormsg" style="text-align: left; margin-top: 40px; margin-bottom: -15px;"></div>
                    {% csrf_token %}
                    <div class="form-group m-t-30">
                        <div class="col-xs-12">
                            <input class="form-control" type="email" id="email" name="email" required placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" type="password" id="password" name="password" required placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="d-flex no-block align-items-center">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">Remember me</label>
                                </div> 
                            </div>   
                        </div>
                    </div>
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button class="btn btn-success btn-lg btn-block btn-rounded" type="submit">Log In</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        $(function() {
            $(".preloader").fadeOut();
        });
        $(function() {
            $('[data-toggle="tooltip"]').tooltip()
        });

        $("#errormsg").css("display", "none");
        
        $("#form_login").submit(function(e){
            e.preventDefault();
            var formData = new FormData();

            formData.append("email", $("#email").val());
            formData.append("password", $("#password").val());

            $("#errormsg").css("display", "none");
            $.ajax({
                type: "POST",
                url: "/ajax/login/user/",
                data: formData,
                headers: { "X-CSRFToken": "{{ csrf_token }}" },
                processData: false,
                cache: false,
                contentType: false,
                success: function (data)
                {
                    if(data.result=="invalid"){
                        $("#errormsg").html('<i class="ti-user"></i>&nbsp;&nbsp;&nbsp;Invalid email or password.');
                        $("#errormsg").css("display", "block");
                    } else if(data.result=="inactive"){
                        $("#errormsg").html('<i class="ti-user"></i>&nbsp;&nbsp;&nbsp;This is inactive account.');
                        $("#errormsg").css("display", "block");
                    } else if(data.result=="success"){
                        $("#errormsg").css("display", "none");
                        console.log(data.userrole);
                        if( 0 <= ["Doctor", "Intake Agent", "Referral Source"].indexOf(data.userrole)){
                            location.replace("/scheduler");
                        }else{
                            location.replace("/orders");
                        }
                    }
                }
            });
        });

    </script>
{% endblock %}